#counter-wrapper {
  .fa {
    font-size: 24px;
    padding: 18px;
  }
}

#description {
  .fa {
    font-size: 32px;
    line-height: 2;
  }
}

.counter-contain {
  .desc-feature {
    font-size: 18px;
    line-height: 32px;
  }
  .pe-feature {
    background-color: #5CB85C;
  }
}

.text-white {
  color: white !important;
}

h5 {
  font-size: 36px;
  line-height: 42px;
}